<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="Home" icon="ion-home"
    href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Activities" icon="ion-icecream"
    href="#/tab/list">
    <ion-nav-view name="list-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Events" icon="ion-calendar"
    href="#/tab/calendar">
    <ion-nav-view name="calendar-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Favorites" icon="ion-star"
      href="#/tab/favorites">
      <ion-nav-view name="favorites-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>